.divBotoes{
    float: right;
    align-content: center;
    
}

.divBotoesLista{
    float: right;
    align-content: center;
    
}

.linhaListagem:hover{
    background-color: rgb(228, 242, 247);
}

.menu{
    margin-top: 120px;
    background-color: rgb(211, 211, 211);
    height: 100%;
}

.h1{
    font-family: 'Times New Roman', Times, serif;
}

