.divBotoes{
    float: right;
    align-content: center;
    
}

.divBotoesLista{
    float: right;
    align-content: center;
    
}

.linhaListagem:hover{
    background-color: rgb(228, 242, 247);
}

.menu{
    margin-top: 90px;
}

