<div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <h1>Denúncias
          <div class="divBotoes">
            
            <button type="button" class="btn btn-primary" (click)="redirectTO()">Nova Denúncia</button>
            <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
          </div>
        </h1>
        
      </div>
      
    </div>
    <div class="panel-body">
      <table class="table table-hover" *ngIf="(denuncias$ | async) as denuncias; else loading">
        <thead>
          <tr>
            <th>#</th>
            <th>Denúncia</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let denunciaItemFor of denuncias">
            <td>{{ denunciaItemFor.id }}</td>
            <td>{{ denunciaItemFor.titulo }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(denunciaItemFor.id)">
                  Atualizar
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(denunciaItemFor)">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #loading>
        <span>Carregando Denúncias...</span>
      </ng-template>
  
    </div>
  </div>
  
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover essa denuncia?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
    </div>
  </ng-template>
  