.navbar {
    color:  #59B2E0;
	background-color: #59B2E0;
}

.p{
    color: black;
}

.body {
    background-color: black;
}

.menu{
    background-color: rgb(211, 211, 211);
}

.container{
    background-color: rgb(211, 211, 211);
   
}
.divall{
    background-color: rgb(211, 211, 211);
   
    width: 100%;
   
    position:absolute;
}


