
<nav class="navbar navbar-default" *ngIf="mostrarMenu">
    <div class="container-fluid">
  
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Projeto Sistemas</a>
      </div>
  
      <ul class="nav navbar-nav">
          
        <li routerLinkActive="active">
          <a routerLink="/home">Home</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/cadastroDenuncia">Cadastro de denuncia</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/lista-denuncia">Listagem de denuncia</a>
        </li>

        <li routerLinkActive="active">
          <a (click)="logout()">Sair</a>
          
        </li>

         
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>